/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*My style*/
.logout_block {
    align-self: center;
}

.logout_block button {
    border: none;
    border-radius: 6px;
}

.logout_block button:hover {
    background: #ff6c6c;
    transition: all 0.2s ease;
    color: #fff;
}

.nav-item:hover {
    text-decoration: underline;
}

.authorization {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_head {
    margin-bottom: 1.2em;
}

.navbar-nav {
    justify-content: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 600;
}

.page_seperator {
    width: 40px;
    height: 2px;
    background: dodgerblue;
    margin: 0px 16px;
}

.dogs {
    display: flex;
    justify-content: center;
}

.dog {
    display: flex;
    align-items: center;
    margin: 14px;
}

.dog_img {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: #e8e8e8;
    border-radius: 50%;
}

.dog_img_set {
    background-size: cover;
    background-position: center;
}

.dog_title {
    margin: 0px 12px;
}

.empty_dog_img {
    font-size: 24px;
    color: gray;
}

.dog_details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dog_info {
    display: flex;
}

.dog_details .dog_img {
    width: 100px;
    height: 100px;
    margin-right: 12px;
}

.dog_details .fa-dog {
    font-size: 36px;
}

.dog_details_age {
    margin: 0px 6px;
    color: #ef4272;
}

.dog_details_specialization {
    color: dodgerblue;
}

.dog_menu {
    display: flex;
    justify-content: center;
}