@model IEnumerable<DogT.Models.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_DogHandler";
}

<div class="dogs">
    <a asp-action="AddDog" class="dog">
        <div class="dog_img">
            <i class="fas fa-plus empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Додати собаку</h6>
    </a>

    @foreach (var dog in Model)
    {
        <a class="dog" asp-action="DetailsDog" asp-route-id="@dog.Id">
            <div class="dog_img">
                <i class="fas fa-dog empty_dog_img"></i>
            </div>
            <h6 class="dog_title">@dog.Name</h6>
        </a>
    }
</div>