@model DogT.Models.Training

@{
    ViewData["Title"] = "EditTraining";
    Layout = "_DogHandler";
}

<h1>EditTraining</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTraining">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DogHandlerId" />
            <div class="form-group">
                <label asp-for="DogId" class="control-label"></label>
                <select asp-for="DogId" class="form-control" asp-items="ViewBag.Dogs"></select>
                <span asp-validation-for="DogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecializationId" class="control-label"></label>
                <select asp-for="SpecializationId" class="form-control" asp-items="ViewBag.Specializations"></select>
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <input asp-for="Context" class="form-control" />
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estimate" class="control-label"></label>
                <input asp-for="Estimate" class="form-control" />
                <span asp-validation-for="Estimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

