@model DogT.Models.Dog

@{
    ViewData["Title"] = "Редагувати інформацію про собаку";
    Layout = "_DogHandler";
}

<h4>Редагувати інформацію про собаку</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <input type="hidden" asp-for="DogHandlerId" value="@Model.DogHandlerId"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DogHandlerId" class="control-label"></label>
                <select asp-for="DogHandlerId" class="form-control" asp-items="ViewBag.DogHandlerId"></select>
                <span asp-validation-for="DogHandlerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="SpecializationId" class="control-label"></label>
                <select asp-for="SpecializationId" class="form-control" asp-items="ViewBag.Specializations"></select>
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Avatar" type="hidden" value="@Model.Avatar" />
            </div>
            <div class="form-group">
                <input asp-for="AvatarPath" type="hidden" value="@Model.AvatarPath" />
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dogs">До списку собак</a>
</div>

