@model IEnumerable<DogT.Models.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_DogHandler";
}

<h3>Особистий кабінет кінолога</h3>

<ul>
    <li>
        <a asp-action="Dogs">Закріплені собаки</a>
    </li>
    <li>
        <a asp-action="Trainings">Тренування</a>
    </li>
    <li>
        <a asp-action="TrainingTasks">Завдання</a>
    </li>
</ul>
