@model IEnumerable<DogT.Models.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_DogHandler";
}

<a asp-action="AddTraining" class="dog">
    <div class="dog_img">
        <i class="fas fa-plus empty_dog_img"></i>
    </div>
    <h6 class="dog_title">Додати тренування</h6>
</a>
