@model DogT.Models.Proposal

@{
    ViewData["Title"] = "Пропозиції, зауваження";
    Layout = "_DogHandler";
}

<h4>Зробити пропозицію чи зауваження</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeProposal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <input asp-for="Context" class="form-control" />
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">На головну</a>
</div>

