@model DogT.ViewModels.RegisterViewModel
@using DogT.Data;

@{
    ViewData["Title"] = "Реєстрація";
    Layout = "_Authorization";
}

<div class="account">
    <h4 class="account_head">Вас вітає кінологічна платформа</h4>

    <div>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" placeholder="Емейл" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" placeholder="Пароль" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" placeholder="Підтвердження паролю" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" placeholder="Ім'я" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Surname" placeholder="Прізвище" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="Position" asp-items="Html.GetEnumSelectList<Position>()">
                    <option>Позиція...</option>
                </select>
                <span asp-validation-for="Position" />
            </div>
            <div class="form-group">
                <input type="submit" value="Реєстрація" class="btn btn-primary" />
            </div>
        </form>
        <a asp-controller="Account" asp-action="Login">Авторизація</a>
    </div>

</div>